@model IEnumerable<MemberTest.Models.ViewModels.Home.MemberViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MemberList</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        function deleteMember(sn) {
            if (confirm("確定要刪除嗎?")) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteMember")",
                    data: { sn: sn },
                    success: function (result) {
                        alert(result);
                        location.reload();
                    }
                });
            }
        }
    </script>
</head>
<body>
    <p>
        <a asp-action="AddMember">Create</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string sexStr = Convert.ToBoolean(item.Sex) ? "男" : "女";
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @sexStr
                    </td>
                    <td>
                        @Convert.ToDateTime(item.Birthday).ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        @item.Mail
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        <a asp-action="UpdateMember" asp-route-sn="@item.Sn">Edit</a> |
                        <a href="javascript: void(0)" onclick="deleteMember(@item.Sn)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
